body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f0f0f0;
}
